<div class="col-9 mx-auto py-5 fw-light animate__animated animate__fadeInUp animate_delay_1s">
    <h1 class="py-3" style="text-transform: uppercase;">
        <div style="border-bottom: 2px solid black; font-size: 3.7vw; font-weight: 200;">Start a new project with Rab lab</div>
    </h1>
    <h5 class="pb-3 fw-light" style="color: #523DE0">Please complete the form below so we know how best to help you. Thanks!</h5>
    <form action="https://formspree.io/f/xoqrlqnd" method="POST" class="row gx-4 gy-3 py-3">
        <div class="col-12">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Your name" required>
        </div>
        <div class="col-md-6">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Your Email" required>
        </div>
        <div class="col-md-6">
            <label class="form-label">Phone Number</label>
            <input type="tel" class="form-control" name="phone" placeholder="Phone Number">
        </div>
        <div class="col-12">
            <label class="form-label">Development Location</label>
            <input type="text" class="form-control" name="location" placeholder="Address">
        </div>
        <div class="col-md-6">
            <label class="form-label">City</label>
            <input type="text" class="form-control" name="city" placeholder="City">
        </div>
        <div class="col-md-6">
            <label class="form-label">State</label>
            <input type="text" class="form-control" name="state" placeholder="State">
        </div>
        <div class="col-12">
            <label class="form-label">Message</label>
            <textarea name="message" class="form-control" placeholder="Anything you would like to share with use"></textarea>
        </div>
        <div class="col text-center pt-3" style="text-transform: uppercase;">
            <button type="submit" class="btn btn-primary px-5 py-3">Get Started</button>
        </div>
    </form>
</div>
