<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<meta name="theme-color" content="#523de0">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" type="image/png" href="/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/assets/favicon/android-chrome-512x512.png">
<link rel="manifest" href="/site.webmanifest">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(window).on('scroll', function() {
        var st = $(this).scrollTop();
        var h = $(window).height() * 0.9;
        $(".from-left").each(function() {
            if($(this).offset().top < st + h - 100) {
                $(this).css('right', 0)
                $(this).css('opacity', 1)
            }
        });
        $(".from-right").each(function() {
            if($(this).offset().top < st + h - 100) {
                $(this).css('left', 0)
                $(this).css('opacity', 1)
            }
        });
        $(".from-bottom").each(function() {
            if($(this).offset().top < st + h) {
                $(this).css('top', 0)
                $(this).css('margin-bottom', '0')
                $(this).css('opacity', 1)
            }
        });
    });
</script>
<!-- end custom head snippets -->
