---
---

.my-post > p img
{
    max-width: 100%;
}

.btn-primary {
    background-color: #ff8400;
    border-color: #ff8400;
}
.btn-primary:hover {
    background-color: orange;
    border-color: orange;
}