---
layout: base
---
<div class="card bg-dark text-white" style="height: 100vh; margin-top: -110px">
    <img class="card-img" src={{ page.image }}>
    <div class="animate-in" style="position: absolute; top: calc(15vw + 110px); width: 80%; background-color: #523DE0; left: -10%; border-radius: 2vh;">
        <div class="hero" style="padding-left: 20vw;">
            <p class="hero-title">{{ page.title }}</p>
        </div>
    </div>
    <div class="animate-in" style="position: absolute; top: calc(24.5vw + 110px); width: 80%; left: -10%">
        <img src="/assets/images/horizontal_line.svg">
    </div>
</div>
{% if page.slogan %}
<div class="text-center text-uppercase animate-in" style="background-color: #523DE0; color: white;">
    <h1 class="p-5 w-75 mx-auto lh-lg from-bottom slogan" style="position: relative;">{{ page.slogan }}</h1>
</div>
{% endif %}
<div class="main-content {% if page.title_colored == true %}main-content-colored{% endif %} pt-3 pt-md-5 mx-auto text-center" style="position: relative;">
    <div class="from-bottom">
        {{ content }}
    </div>
</div>