<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    {%- include header.html -%}
    <main id="content" class="col-8 mx-auto" role="main">
      <div class="my-3">
        <a href="https://github.com/rab-lab/rab-lab.github.io" class="link-secondary"><i class="bi bi-github"></i> Github Repo </a>
      </div>
      {{ content }}
    </main>
    {%- include footer.html -%}
  </body>
</html>
