---
layout: base
---
<div class="card bg-dark text-white" style="height: 100vh; margin-top: -110px;">
    <img class="card-img" src={{ page.image }}>
    <div class="animate-in" style="position: absolute; top: calc(10vw + 110px); width: 80%; background-color: rgba(50, 50, 50, 0.5); left: -10%; border-radius: 2vh;">
        <div class="hero" style="padding: 4vw; padding-left: 20vw;">
            <p style="font-size: 2vw">{{ page.subtitle }}</p>
            <div style="margin-right: 8vw; border-bottom: 2px solid white;"></div>
            <p style="font-size: 3.3vw; text-transform: uppercase;">{{ page.title2 }}</p>
            <p style="margin-right: 10vw; font-size: large;">{{ page.description }}</p>
        </div>
    </div>
</div>
<div id="main-content" style="margin-top: -10vh;"></div>
<div class="col-9 mx-auto" style="margin-top: 10vh; padding-top: 10vh;">
    <h1 class="from-left" style="margin-left: 3vw; text-transform: uppercase; position: relative; margin-bottom: 5vw; line-height: 1.8em; font-weight: 300;">{{ page.slogan }}</h1>
    {% assign zero = site.data.main.card[0] %}
    {% include single_card.html content=zero %}
</div>
<div style="background-color: #F0F0F0; text-transform: uppercase; padding-left: 10%;">
    <div class="from-right" style="position: relative;">
        <h1 class="text-end" style="padding: 5vw; padding-right: 10%;">{{ site.data.main.chart.description }}</h1>
        <div style="margin-left: 8vw; margin-top: -2vw; border-bottom: 2px solid black;"></div>
        <div style="margin-left: 6vw; margin-right: 4vw; padding-bottom: 2vw; color: white; padding-right: 5%;">
            <div class="row">
                {% for item in site.data.main.chart.items %}
                <div class="col-5 col-md d-flex flex-column justify-content-between" style="background-color: #2E2E37; margin: 2vw; margin-top: 5vw; border-radius: 1vw; padding-bottom: 1vw;">
                    <div class="d-flex flex-row" style="margin: 5%; vertical-align: text-bottom;">
                        <i class="bi {{ item.icon }}" style="font-size: 2vw; margin-right: 3px;"></i>
                        <div class="d-flex flex-column justify-content-end">
                            <span style="font-size: 14px; bottom: 0.3vw; position: relative; font-weight: 200;">{{ item.description }}</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center" style="text-align: center; height: 7vw; font-size: 2vw;">{{ item.value }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="col-9 mx-auto">
    {% assign one = site.data.main.card[1] %}
    {% include single_card.html content=one %}
    <h1 class="from-left">LAB PROJECTS ARE TESTED AND READY FOR COLLABORATION</h1>
    <div class="card my-5">
        <div class="from-left" style="margin-left: -20vw; border-bottom: 2px solid black; position: relative;"></div>
        <div class="card-body py-3 ps-5">
            <div class="row pt-5 pb-3 mt-5">
                <div class="col-4 from-left py-2" style="position: relative;">
                    <div style="margin-right: 5vw; font-size: 16px; line-height: 1.4rem;">
                        <div style="margin-bottom: 3vw;">
                            {% for item in site.data.main._3D.values %}
                            <p class="my-2">{{ item.description }}: {{ item.value }}</p>
                            {% endfor %}
                        </div>
                        <div>
                            {% for item in site.data.main._3D.features %}
                            <p class="my-2">{{ item.description }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div style="margin-top: 3vw; border-radius: 50%; height: 15vw; width: 15vw; background-color: #523DE0; color: white;">
                            <p style="padding-top: 6.2vw; font-size: 1.8vw; text-align: center; text-transform: uppercase;">View 3D Tour</p>
                        </div>
                        <div style="margin-top: 10.3vw; margin-left: -0.4vw; color: #523DE0;">
                            <i class="bi bi-arrow-right" style="font-size: 3vw;"></i>
                        </div>
                    </div>
                </div>
                <div class="col-8 from-right p-0" style="position: relative;">
                    <iframe class="pano" allowfullscreen src="/panorama.html" style="height: 100%; width: 100%;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center text-uppercase animate-in pd-0 pb-5" style="background-color: #523DE0; color: white;">
    <h1 class="pt-5 w-75 mx-auto lh-lg slogan" style="position: relative;">Ready to get started?</h1>
    <button class="btn btn-light py-3 mt-3 w-25" onclick="location.href='/contact.html'" type="button" style="position: relative;">Get in touch</button>
</div>